<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <roleManager enabled="true" defaultProvider="LabSqlProvider" cacheRolesInCookie="true " cookieName=".roleCookie" cookieTimeout="30" cookieRequireSSL="false " cookieProtection="All">
      <providers>
        <add name="LabSqlProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="sqlborian" applicationName="CF" />
      </providers>
    </roleManager>
    <authentication mode="Forms">
      <forms cookieless="UseCookies" requireSSL="false"></forms>
    </authentication>
    <profile defaultProvider="borianProvider" automaticSaveEnabled="false">
      <properties>
        <add name="SubjectNo" type="Int32" defaultValue="-1" />
        <add name="AdvertiserNo" type="Int32" defaultValue="-1" />
      </properties>
      <providers>
        <add name="borianProvider" connectionStringName="sqlborian" applicationName="CF" type="System.Web.Profile.SqlProfileProvider" />
      </providers>
    </profile>
    <membership defaultProvider="borianSqlProvider">
      <providers>
        <add type="System.Web.Security.SqlMembershipProvider" requiresQuestionAndAnswer="false" minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="6" requiresUniqueEmail="false" name="borianSqlProvider" enablePasswordReset="false" connectionStringName="sqlborian" applicationName="CF" enablePasswordRetrieval="false" />
      </providers>
    </membership>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Runtime.Serialization.Formatters.Soap, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <authenticationService enabled="true" requireSSL="false" />
        <profileService enabled="true" readAccessProperties="SubjectNo,AdvertiserNo" />
        <roleService enabled="true" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <connectionStrings>
    <add name="sqlborian" connectionString="Data Source=60.170.244.106;Initial Catalog=aspnetdb;Persist Security Info=True;User ID=borian;Password=121047959;multipleactiveresultsets=True" providerName="System.Data.SqlClient" />
    <add name="RecruitConnectionString" connectionString="Data Source=60.170.244.106;Initial Catalog=Recruit;Persist Security Info=True;User ID=borian;Password=121047959" providerName="System.Data.SqlClient" />
    <add name="RecruitEntities" connectionString="metadata=res://*/App_Code.Recruit.RecruitModel.csdl|res://*/App_Code.Recruit.RecruitModel.ssdl|res://*/App_Code.Recruit.RecruitModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=60.170.244.106;initial catalog=Recruit;persist security info=True;user id=borian;password=121047959;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LabEntities" connectionString="metadata=res://*/App_Code.Lab.LabModel.csdl|res://*/App_Code.Lab.LabModel.ssdl|res://*/App_Code.Lab.LabModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=60.170.244.106;initial catalog=Lab;persist security info=True;user id=borian;password=121047959;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Lab2Entities" connectionString="metadata=res://*/App_Code.Lab2.Lab2Model.csdl|res://*/App_Code.Lab2.Lab2Model.ssdl|res://*/App_Code.Lab2.Lab2Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=60.170.244.106;initial catalog=Lab2;persist security info=True;user id=psyLabAdmin;password=psylabadmin2011;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MsgDBEntities" connectionString="metadata=res://*/App_Code.Msg.MsgModel.csdl|res://*/App_Code.Msg.MsgModel.ssdl|res://*/App_Code.Msg.MsgModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=60.170.244.106;initial catalog=MsgDB;persist security info=True;user id=borian;password=121047959;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="柏子">
        <network host="smtp.qq.com" password="zbrbulianai" port="465" userName="borian@vip.qq.com" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>